extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD-MM-YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) más

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Nuevos
    else
      a(href='/archive/') « Archivo
    if nextPage
      a(href=nextPage.url) Siguiente »
